section#about.section.scrollspy
  h3.page-title.white-text.blue.darken-4 About
  .container.flow-text
    blockquote
      h2 Software Developer and Machine Learning enthusiast building tech products and solving research problems.

    p
      | Welcome to my personal website! I am currently working as a Software Developer at the Expedia Group. This site will let you know who I am, my interests and the projects I've been working on.
    p
      | My profession keeps me engaged in software development - a skill, I feel, capacitates me to build products that impact millions of people. I am also interested in Machine Learning and Deep Learning and pursue my interest by working on the related projects alongside.
    p
      | I love to travel and explore different cultures. I'm open to discussion on topics related to technology, coding practices, travel and human psychology. I am also a fitness fanatic and play Harmonica in my leisure time.
