section#about.section.scrollspy
  h3.page-title.white-text.blue.darken-4 About
  .container.flow-text
    blockquote
      h2 Goal-oriented software engineer and machine learning researcher working on innovative and impactful problems.

    p
      | Welcome to my personal website! I am currently working as a Software Engineer at the Expedia Group. This site will let you know who I am, my interests and the projects that I've been working on.
    p
      | I’ve always taken up the opportunities and challenges that are meaningful to me. My professional career keeps me engaged in software development - a skill, I feel, capacitates me to build products that impact millions of people. I am passionate about intelligent systems and machine learning. I pursue my passion by working on my research in the subject alongside.
    p
      | I love to travel and explore different cultures and interests. I'm open to discussion on topics related to politics, travel, human psychology and artificial intelligence. Eating healthy and working out regularly is part of my lifestyle.