section#about.section.scrollspy
  h3.page-title.white-text.blue.darken-4 About
  .container.flow-text
    blockquote
      h2 Software Developer and Machine Learning enthusiast building impactful products and pursuing research.

    p
      | Welcome to my personal website! I am currently working as a Software Developer. This site will let you know who I am, my interests and the projects I've been working on.
    p
      | My professional career keeps me engaged in software development - a skill, I feel, capacitates me to build products that impact millions of people. I am passionate about intelligent systems and Machine Learning and have a strong Mathematical background. I pursue my passion by working on side projects in autonomous systems and Deep Learning.
    p
      | I love to travel and explore different cultures and interests. I'm open to discussion on topics related to politics, travel, human psychology and artificial intelligence. I am also a fitness fanatic and play Harmonica in my leisure time.