section#education.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Education
  .container
    .row
      .card
        .card-content
          .col.s12.m6
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://www.nsit.ac.in', target='_blank') University of Delhi (2015-2019)
            p.brown-text Netaji Subhas Institute of Technology (NSIT), Delhi, India
            ul
              li Bachelor of Engineering in Computer Engineering
              li Awarded 
                b First-Class 
                | with 
                b Distinction
              li GPA: 8.6

            h6 
              b Thesis Project:
            ul
              li Title: 
                i Guided learning Approach for Generative Adversarial Networks
                br

          .col.s12.m6
            br
            h6 
              b Relevant Coursework:
            ul
              li Discrete Mathematics and Design of Algorithms
              li Expert Systems
              li Engineering Mathematics
              li Artificial Intelligence
              li Theory of Automata
              li Computer Graphics
              br
              

//- .col.s12.m6
//-   .card
//-     .card-content
//-       p
//-         span.card-title
//-           a.blue-text.text-darken-4.hoverline(href='http://cbse.nic.in/', target='_blank') Central Board of Secondary Education (2015)
//-       p.brown-text Mata Jai Kaur Public School, Delhi, India.
//-       ul
//-         li High School Secondary Education
//-         li Accomplished 96.60% in the final Board examination (Standard XII)
//-         li Awarded the Merit Certificate from Indian Government for achieving a perfect score in Chemistry
//-         li Awarded the academic excellence award for the meritorious performance
//-         li Relevant Coursework: Physics, Chemistry, Mathematics