section#education.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Education
  .container
    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://www.nsit.ac.in', target='_blank') University of Delhi (2015-2019)
            p.brown-text Netaji Subhas Institute of Technology (NSIT), Delhi, India
            ul
              li Bachelor of Engineering in Computer Engineering
              li Graduated first class with distinction
              li Percentage: 77.9%
            h6 
              b Relevant Coursework:
            ul
              li Operating Systems
              li Information Systems and Database Management
              li Software Engineering 
              li Advanced Computer Architecture
              li Discrete Mathematics and Design of Algorithms
              li Computer Graphics
              li Expert Systems
              li Computer Networks
              li Data Structures
              li Engineering Mathematics
              li Artificial Intelligence
              li Compiler Design
              li Theory of Automata
            h6 
              b Bachelor Thesis Project:
            ul
              li Title: 
                i Guided learning Approach for Generative Adversarial Networks
              li Supervisor: Dr. Swati Aggarwal (Assistant Professor, NSIT)

      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://cbse.nic.in/', target='_blank') Central Board of Secondary Education (2015)
            p.brown-text Mata Jai Kaur Public School, Delhi, India.
            ul
              li High School Secondary Education
              li Accomplished 96.60% in the final Board examination (Standard XII)
              li Awarded the Merit Certificate from Indian Government for achieving a perfect score in Chemistry
              li Awarded the academic excellence award for the meritorious performance
              li Relevant Coursework: Physics, Chemistry, Mathematics
