section#experience.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Experience
  .container

    //- Expedia Group - Software Developer 
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.expediagroup.com/', target='_blank')
              img.responsive-img.center-block(alt='Expedia Group logo', src='static/img/expedia_logo1.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://www.expediagroup.com/', target='_blank') Expedia Group
        .role.brown-text Software Development Engineer
        p
          em.grey-text Developing solutions for performing points transactions on the e-commerce platform.
        ul
          li Created the CICD pipelines to ensure continuous deployment of Expedia's points payment gateway service.
          li Built RESTful micro-services using web frameworks like Spring MVC, Spring Boot.
          li Coded Python scripts to fix the unsettled transactions with bank generating the revenue of ~ $500k.
          li Optimized the organization’s cost by migrating Microsoft SQL database to open-source PostgreSQL.
      .card-action
        span July 2019 - Present  |  Gurugram, India

    //- Quoko 
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://quoko.app/', target='_blank')
              img.responsive-img.center-block(alt='Quoko logo', src='static/img/quoko_logo.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://quoko.app/', target='_blank') Quoko - A positive news app
        .role.brown-text Co-creator and Tech Lead
        p
          em.grey-text Launched Quoko, a positive news app, managing end-to-end product development
        ul
          li Built an Android app to provide positive content/news cards during COVID-19 pandemic
          li Viewed by 250k+people across 39 countries with 1k+ app downloads.
      .card-action
        span June 2020 | Remote

    //- UPenn- Research Intern
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.med.upenn.edu/urbslab/', target='_blank')
              img.responsive-img.center-block(alt='UPenn logo', src='static/img/upenn_logo.gif')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://www.med.upenn.edu/urbslab/', target='_blank') University of Pennsylvania: URBS Lab
        .role.brown-text Research Intern
        p
          em.grey-text Associated with the lab via remote research internship and working on evolutionary machine learning algorithms
        h6 Co-evolving genetic-programming (GP) trees with rules in Learning Classifier Systems (LCS)
        ul
          li Developed a ML algorithm in Python from scratch for imbedding GP-Trees in the ExSTraCS framework, a supervised LCS.
          li Enhanced the performance of GP tree operations in terms of execution speed and tree representation.
          li The solution was selected for presentation at: 
            a.supervisor(href='https://dl.acm.org/doi/abs/10.1145/3377929.3390071') GECCO 2020.
        h6 GP Trees – Python Library
        ul
          li Created a python library for all the GP trees related operations that can be used directly for any GP application.
        br
        b Supervisor: 
        a.supervisor(href='http://ryanurbanowicz.com/', target='_blank') Dr. Ryan Urbanowicz, Assistant Professor, Perelman School of Medicine, University of Pennsylvania
      .card-action
        span December 2017 - Present  |  Remote Research

    //- Expedia Group - ASDE Intern
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='https://www.expediagroup.com/', target='_blank')
              img.responsive-img.center-block(alt='Expedia Group logo', src='static/img/expedia_logo1.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='https://www.expediagroup.com/', target='_blank') Expedia Group
        .role.brown-text Software Development Intern
        p
          em.grey-text An Enterprise Service Bus architecture that enables the company to build an adaptor to communicate with banks for points transaction using UI facilities
        ul
          li Devised a framework to perform loyalty points transaction with banks using Enterprise Service Bus architecture.
          li Developed a UI replacing the method of coding in Java with drag & drop facility for making transactions.
          li Reduced time of on-boarding the adaptors from three months to three days.
          li Worked with Mulesoft, Java Spring, Tomcat, Maven and RESTful APIs.
          li Received a pre-placement offer for the profile of Software Development Engineer.
      .card-action
        span 4 June 2018 - 28 July 2018  |  Gurugram, India

    //- NSIT-Research Assistant
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://www.nsit.ac.in/', target='_blank')
              img.responsive-img.center-block(alt='NSIT logo', src='static/img/nsit_logo.png')
          .col.s12.m10
            p
              span.card-title
                a.blue-text.text-darken-4.hoverline(href='http://www.nsit.ac.in/', target='_blank') Netaji Subhas Institute of Technology
        .role.brown-text Research Assistant
        p
          em.grey-text Conducted my undergraduate research on deep learning, reinforcement learning and evolutionary algorithms
        h6 Devised techniques to solve the training issues in Generative Adversarial Networks (GANs): Deep Learning
        ul
          li Improved the training of GANs and increased the quality and diversity of generated images.
          li Research article published at International Joint Conference on Neural Networks (IJCNN - 2020).
        h6 Evolution of game playing strategies in Othello using eXtended Classifier Systems (XCS)
        ul
          li Proposed an approach of playing game of Othello using XCS, a branch of LCS that evolves game-playing strategies.
          li Research article published in Congress of Evolutionary Computation (CEC) 2018.
        br
        b Supervisor: 
        a.supervisor(href='http://www.nsit.ac.in/faculty/swa', target='_blank') Dr. Swati Aggarwal, Assistant Professor, Computer Engineering Department, NSIT
      .card-action
        span January 2017 - May 2018 |  Delhi, India
