section#hobbies.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Hobbies
  .container.flow-text
    h4 Harmonica Player
    p
      | I have been playing one of my favorite musical instruments, 
      a.harmonica(href='https://en.wikipedia.org/wiki/Harmonica', target='_blank') Harmonica 
      | (also known as mouth organ or French Harp), to de-stress myself. Mostly, I like to play the old-era Hindi songs on the instrument. You can listen to my recent recordings of the two famous Bollywood songs here:

    .row
      .col.s12.m5
        audio(controls)
          source(src='static/music/apna_dil.mpeg', type='audio/mpeg')
      .col.s12.m7
          .brown-text Hai apna dil to Aawara (Solva Saal 1958)

    .row
      .col.s12.m5
        audio(controls)
          source(src='static/music/sapno_ki_rani.mpeg', type='audio/mpeg')
      .col.s12.m7
          .brown-text Mere Sapno Ki Rani (Aradhana 1969)
    br

    h4 Numismatist
    p
      | One interest I've picked up from my childhood is to collect currency notes and coins of different countries. All the coinage and paper-money have been organised in a currency album. Currently my collection contains 30 paper-notes from 22 countries and 85 coins from 50 countries.




