section#projects.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Projects
  .container
    .row
      // ExSTraCS-GP Hybrid
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='ExSTraCS Logo', src='static/img/exstracs.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline ExSTraCS-GP Hybrid
              i.mdi-navigation-more-vert.right
            p Integrated genetic programming to evolve syntax trees in rule-based Learning Classifier System
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Built a framework evolving GP trees in rule-based ML system
              li Replaced the DEAP library to perform GP operations
              li Improved the execution speed of ExSTraCS-GP hybrid by #[strong 45%]
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the research article', href='https://dl.acm.org/doi/abs/10.1145/3377929.3390071', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/UrbsLab/GP-LCS', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Guided GAN
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='GAN', src='static/img/gan.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Guided GAN
              i.mdi-navigation-more-vert.right
            p A Guided Learning Approach to Generative Adversarial Networks
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Proposed a #[strong novel approach] to train GANs
              li The new model generate better quality and diverse images than the state-of-art GAN models
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the research article', href='https://git.io/guided-gan', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://git.io/guided-gan', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      //Quoko
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Quoko', src='static/img/quoko.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Quoko - A positive News app
              i.mdi-navigation-more-vert.right
            p An app for mental wellness
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Launched a positive content product during the COVID-19 pandemic for people's mental wellbeing.
              li 1k+ Downloads, 20+ countries, 20k+ Post views.
              .card-action
                a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the Quoko website', href='https://quokoapp.github.io/', target='_blank', data-position='top', data-tooltip='View Online')
                  i.fa.fa-external-link

      // Object Detection with YOLO algorithm
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Yolo-Object Detector', src='static/img/yolo.jpg')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Object Detector - Web App
              i.mdi-navigation-more-vert.right
            p A Web App that accepts an image and detects if a cat or dog is present using YOLO algorithm
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li The algorithm detects whether a cat or dog is present in the image or not.
              li The web app is created in Flask and the algorithm is implemented in Tensorflow.
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code', href='https://github.com/siddharth-verma60/Object_Detection-WebApp', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // XCS_Othello
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='XCS_Othello', src='static/img/XCS_othello.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Othello - XCS
              i.mdi-navigation-more-vert.right
            p An Evolutionary Learning Approach to Play Othello Using XCS
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Built the game GUI of Othello in #[strong Java]
              li Evolved the playing strategies using rules in #[strong eXtended Classifier System (XCS)]
              li Outperformed other minimax agents designed to solve the game.
              li Research article published in IEEE-CEC 2018.
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the Research article', href='https://ieeexplore.ieee.org/abstract/document/8477644', target='_blank', data-position='top', data-tooltip='View Online')
                i.fa.fa-external-link
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for the code of proposed algorithm', href='https://github.com/siddharth-verma60/Learning_Classifier_System_XCS_in_Othello', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Genetic Programming Library
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Genetic Programming library', src='static/img/gp.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Genetic Programming Library
              i.mdi-navigation-more-vert.right
            p A Python library containing the Genetic Programming (GP) implementation.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Can be used as an independent #[strong Python module]
              li Contains all the GP operations such as tree crossover, mutation, selection.
              li Can choose/define different fitness metrics.
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for GP library code', href='https://github.com/siddharth-verma60/GP-TREES-Python_Library', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Cashculator: Android Application
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='android logo', src='static/img/android.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Cashculator
              i.mdi-navigation-more-vert.right
            p An android application to manage and divide all your expenses.
          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li Keeps track of the amount to be splitted in a group
              li Individual contributor can be added from phonebook
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Cashculator project', href='https://github.com/siddharth-verma60/Cashculator_Android_Application', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github

      // Casino Simulation
      .col.s12.m6.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            img.activator(alt='Casino Simulation', src='static/img/casino_simulation.png')
          .card-content
            span.card-title.activator.blue-text.text-darken-4.hoverline Casino Simulation
              i.mdi-navigation-more-vert.right
            p Four famous Casino games were simulated: Pot, Baccarat, Roulette, Sicbo

          .card-reveal
            span.card-title.brown-text Accomplishments
              i.mdi-navigation-close.right
            ul
              li The game logic was written in Microsoft Excel and Visual Basic
            .card-action
              a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Visit the GitHub repo for Casino Simulation project', href='https://github.com/siddharth-verma60/Casino_Simulation_Games', target='_blank', data-position='top', data-tooltip='View Source')
                i.fa.fa-github
