section#research.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Research
  .container

    //- Research Interests
    .card
      .card-content
        h4.brown-text.light Research Interests
        .row.text-center
        p My primary research interest focuses on:
        ul
          li Automating the design of neural networks by employing #[strong neural architecture search] techniques such as evolutionary computation and reinforcement learning.
          li Investigating #[creative artificial intelligence] methods to analyse ways in which this intelligence can aid humans in creative endeavours significantly.
        br
        p Building a successful ML product requires the implementation of complex multi-faceted tasks including understanding the business use-case, organising data, modelling, deploying and monitoring. Modelling ML (particularly deep learning) models often become challenging as designing the neural network architecture involves a lot of manual tuning in deciding the type of layers, the objective functions, and hyperparameters like the learning rate, the number of layers and activations. The network often breaks during the process and we have to involve human bias in deciding the best model. This issue can potentially be tackled by applying techniques in automated machine learning (AutoML) that automates the process of applying machine learning. The neural architecture search (NAS) is one of its subfields that includes techniques to design neural nets using evolutionary algorithms (neuro-evolution) and reinforcement learning. The core idea is that the NAS algorithm picks up the basic components required to build a neural network and then improves its performance by evolving the network’s architecture. Now, this is useful as it enables the discovery of architectures far more complicated than what humans may think to try, and can optimize the networks for specific goals. Therefore, we can make it possible for non-experts to build deep learning models as per their use.
        br
        p I am also interested in harnessing the present and future capabilities of artificial intelligence models whose outputs are considered “creative” if performed by humans. I aim to leverage the artificial creativity to unleash the human creative potential in the areas of literature, music (sequential inputs), and artistry and come up with new forms of creativity that are currently unattainable by humans alone. 
        br
        p To summarize, my research interests are as follows:
        ul
          li Machine learning
          li AutoML - Neural architecture search
          li Deep learning
          li Generative modelling
          li Computer vision
          li Evolutionary algorithms

    //- Research Activities
    .card
      .card-content
        h4.brown-text.light Recent Highlights
        //- .row.text-center
        br
        .row
          .col.s12.m9
            a.blue-text.text-darken-4.hoverline(href='http://www.ecomp.poli.br/~wcci2018/', target='_blank') IEEE World Congress of Computational Intelligence (WCCI), 2018
          .col.s12.m3
            .blue-text.text-darken-4   Rio De Janeiro, Brazil
        ul
          li Presented two research papers: "An Evolutionary Learning Approach to Play Othello Using XCS" and “Augmented Gene Expression Programming” at the conference.
          li Got a research paper titled: 
            i An Evolutionary Learning Approach to Play Othello Using XCS 
            | published in the Congress of Evolutionary Computation (CEC) conference proceedings.
          li Received an $800 travel-grant from IEEE as an undergraduate speaker and having the major contribution in the paper.

          br
        .row
          .col.s12.m9
            a.blue-text.text-darken-4.hoverline(href='https://www.iisc.ac.in/', target='_blank') Indian institute of Science (IISc): Summer School, 2017
          .col.s12.m3
            .blue-text.text-darken-4   Bangalore, India
        ul
          li Attended the computer science and automation summer school to figure out my research interests.
          li Learnt about the cutting edge research work going on in artificial intelligence and some key areas of Computer Science.
          li The summer school contained lectures, demos, and hands-on sessions by the department faculty, research scholars and industry experts.
          li Relevant topics studied: Cryptography, machine learning, cognitive decision making agents in games (eg. Chess, Go), graph theory, linear algebra and probability, deep learning to play Atari games.
