section#research.section.scrollspy
  h3.page-title.white-text.blue.darken-4 Research
  .container

    //- Research Interests
    .card
      .card-content
        h4.brown-text.light Research Interests
        .row.text-center
        p My research interest focuses on making #[strong intelligent systems] more #[strong interactive and adaptive] to our needs through the development of smart interfaces that understand human behavior and have the ability to take critical decisions. I envision a world where self-learning autonomous systems can be used to effectively predict future user actions, reason about their past behavior and understand the user’s habits and lifestyle. I want to contribute to the development of such systems which can be used to tutor a student, assist a researcher in formulating innovative ideas or can be used as an assistive technology for people with mental/physical disorders.
        br
        p My interest in this area has sprung from the research I conducted during my undergraduate studies on #[strong Learning Classifier System (LCS)], a cognitive system designed by John H. Holland. I have been working on using alternate knowledge representation for LCS by evolving syntax trees. This is a progress towards my goals as this multi-knowledge system would adapt itself to use a particular representation: rule or tree, according to the input data. This experience grew my inquisitiveness towards developing methods that evolve the knowledge-base of AI to adapt to their environment. Currently, I am curious to know how we can  use the rule-based knowledge in LCS to get an insight on the actions performed by the AI agent.
        br
        p Apart from the evolutionary machine learning, I am also interested in #[strong Deep Learning]. I have been working on generative models as they give intelligent systems the ability to imagine and create things. If a generative model like #[strong Generative Adversarial Networks (GANs)] can learn the whole data distribution, it might learn to capture the whole human behavior. I am highly interested in researching more on this topic and am open to collaborations or chats regarding the same.
        br
        p To summarize, my research interests are as follows:
        ul
          li Machine learning
          li Deep learning
          li Computer Vision
          li Evolutionary algorithms

    //- Research Activities
    .card
      .card-content
        h4.brown-text.light Recent Highlights
        //- .row.text-center
        br
        .row
          .col.s12.m9
            a.blue-text.text-darken-4.hoverline(href='http://www.ecomp.poli.br/~wcci2018/', target='_blank') IEEE World Congress of Computational Intelligence (WCCI), 2018
          .col.s12.m3
            .blue-text.text-darken-4   Rio De Janeiro, Brazil
        ul
          li Presented two research papers: "An Evolutionary Learning Approach to Play Othello Using XCS" and “Augmented Gene Expression Programming” at the conference.
          li Got a research paper titled: 
            i An Evolutionary Learning Approach to Play Othello Using XCS 
            | published in the Congress of Evolutionary Computation (CEC) conference proceedings.
          li Received an $800 travel-grant from IEEE as an undergraduate speaker and having the major contribution in the paper.

          br
        .row
          .col.s12.m9
            a.blue-text.text-darken-4.hoverline(href='https://www.iisc.ac.in/', target='_blank') Indian institute of Science (IISc): Summer School, 2017
          .col.s12.m3
            .blue-text.text-darken-4   Bangalore, India
        ul
          li Attended the computer science and automation summer school to figure out my research interests.
          li Learnt about the cutting edge research work going on in artificial intelligence and some key areas of Computer Science.
          li The summer school contained lectures, demos, and hands-on sessions by the department faculty, research scholars and industry experts.
          li Relevant topics studied: Cryptography, machine learning, cognitive decision making agents in games (eg. Chess, Go), graph theory, linear algebra and probability, deep learning to play Atari games.
